#logo{
    width: 95%;
}

.navbar-nav{
    font-size: 25px;
}

.navbar-collapse{
    margin-left: 40%;
}

.nav-item{
    margin-right: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.custom-select{
    font-size: 20px;
}

.btn-info{
    font-size: 20px;
}

h4{
    font-size:3rem;
    text-shadow: 3px 3px 3px black;
}

.carousel{
    margin-bottom:30px;
}

.card{
    margin-bottom:20px;
    box-shadow: 10px 10px 10px dimgrey;
}




.fa-facebook{
    color: black;
    font-size: 2em;
    margin-top:40px;
    margin-bottom: 40px;

}




.footer{
    background-color: lightgrey;
    margin-top: 70px;
}

h6{
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
    font-size: 32px;

}

.selection{
    margin-bottom: 20px;
}

a{
    color: black;
}

.horaire{
    font-size:20px;
}



#agence, #contact, #mention{
    cursor: grab;
}

#heure{
    margin-top: 0;
}

.ml{
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mention{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
}

