.navbar{
    margin-bottom: 50px;
}

#big{
    width: 75%;
    border-radius: 5px;
}

.small{

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 192px;
}

ul {
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 92px!important;
}

h2{
    margin-bottom: 35px;
    text-align: center;
}

p{
    margin-right: 50px;
    margin-left: 50px;
}

font-size{
    font-size: 20px;
}