.navbar{
    margin-bottom: 50px;
}

#big{
    width: 75%;
}

.small{

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 192px;
}

ul{
    margin-top: 15px;
    justify-content: center;

