<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appt1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='../src/css/accueil.css' media='screen' rel='stylesheet' type='text/css'>
    <link href='../src/css/appt1.css' media='screen' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../src/img/nom.png" alt="logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Acheter <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Louer</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">Connexion</a>
        </div>
    </div>
</nav>

<!--description-->
<div class="">
    <div class="big-img">
        <img src="../src/img/appart1.jpg" id="big">
    </div>
    <div class="row">

            <img class="small" src="../src/img/cuisine.jpg">


            <img class="small" src="../src/img/sdb.jpg">


            <img class="small" src="../src/img/chambre1.jpg">


            <img class="small" src="../src/img/chambre2.jpg">

    </div>
</div>
</body>
</html>