<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href='../src/css/accueil.css' media='screen' rel='stylesheet' type='text/css'>
<link href='../src/css/form.css' media='screen' rel='stylesheet' type='text/css'>
</head>
<body style="overflow-x: hidden;">

<!--header-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html"><img src="../src/img/nom.png" alt="logo" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Acheter <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Louer</a>
            <a class="nav-item nav-link" href="#">Contact</a>

        </div>
    </div>
</nav>

<!--formulaire-->
<div class="container w-50">
    <form>
        <div class=" row justify-content-center">
            <h1>Contact</h1>
        </div>
        <div class="row">
            <div class="form-check col-5">
                <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Monsieur
                </label>
            </div>
            <div class="form-check col-5">
                <input class="form-check-input " type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    Madame
                </label>
            </div>
        </div>
        <div class="row identity">
            <div class="col">
                <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                <span class="form_error"></span>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="inputPrenom" placeholder="Prénom">
                <span class="form_error"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputMail" placeholder="Email">
            <span class="form_error"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputTel" placeholder="Télephone">
            <span class="form_error"></span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="inputRef" placeholder="Référence du bien">
            <span class="form_error"></span>
        </div>

        <div class="form-group">
            <textarea type="text" class="form-control" id="inputDemande" placeholder="Votre demande"></textarea>
            <span class="form_error"></span>
        </div>

        <div class="soummettre">
            <button type="submit" class="btn btn-info btn-lg btn-block">Envoyer</button>
        </div>

        <div class="annulation">
            <button type="submit" class="btn btn-dark btn-lg btn-block">Annulation</button>
        </div>

    </form>
</div>

<!--footer-->
<div class="footer">
    <div class="row justify-content-center mx-auto">
        <h6 class="col-12 col-sm-3" data-toggle="modal" data-target=".bd-example-modal-sm" id="agence">Notre agence</h6>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <img src="../src/img/nom.png" alt="logo" id="logo2">
                    <h6 class="horaire">20 rue de la Clef 59800 Lille</h6>
                    <h6 class="horaire" id="heure">Horaires d'ouverture<br>
                        Du mardi au samedi de 10h à 19h<br>
                        Tél: 03.20.01.02.03</h6>

                </div>
            </div>
        </div>
        <h6 class="col-12 col-sm-3" data-toggle="modal" data-target=".bd-example-modal" id="mention">Mentions légales</h6>
        <div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <h5 class="ml">Mentions légales</h5>
                    <p class="mention">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et velit at est blandit pharetra. Maecenas nec aliquet magna, tristique cursus magna. Duis sollicitudin auctor orci, sed varius orci luctus a. Nunc quis est in mauris aliquet pretium a sit amet urna. Nulla sollicitudin ipsum molestie, mollis neque non, maximus magna. Vivamus nibh ante, maximus in semper at, dignissim ut nisi. Nullam dictum dui a ipsum interdum, eu auctor ipsum rhoncus. Aliquam pulvinar arcu quam, eu ultricies metus gravida quis. Curabitur vitae imperdiet lorem. Nullam rutrum ut nisi in dapibus. Curabitur vestibulum cursus finibus.</p>

                </div>
            </div>
        </div>
        <h6 class="col-12 col-sm-3">Contact</h6>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook col-12 col-sm-3 "></i></a>
    </div>
</div>








<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="form.js"></script>
</body>
</html>